.register-container {
    width: 90%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container .content section {
    width: 100%;
    max-width: 380px;
    margin-right: 25px;
}

.register-container .content section h1 {
    margin: 44px 0 32px;
    font-size: 3.2rem;
}

.register-container .content section p {
    font-size: 1.8rem;
    color: #737380;
    line-height: 3.2rem;
}

.register-container .content form {
    width: 100%;
    min-width: 270px;
    max-width: 450px;
}

.register-container .content form input {
    margin-top: 8px;
}

@media (max-width: 800px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 600px) {
    .register-container .content {
        flex-direction: column;

        padding: 60px;
    }

    .back-link {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .register-container .content section h1 {
        font-size: 3rem;
    }

    .register-container .content section p {
        font-size: 1.6rem;
    }
} 