.logon-container {
    width: 90%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logon-container section.form {
    width: 100%;
    min-width: 280px;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 60px;
}

.logon-container section.form form h1{
    font-size: 3.2rem;
    margin-bottom: 32px;
}

@media (max-width: 600px) {

    html {
        font-size: 50%;
    }
    
    .imgHero {
        display: none;
    }

    .logon-container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}



